{% extends 'layout/base_fullscreen.html' %}
{% load static %}


{% block head %}{% endblock %}

{% block content %}<main>
    <div class="container ">
        <div class="row">
            <div class="col-lg-5 col-md-7 mx-auto">
                <form method="post" class="card shadow-lg">
                    {% csrf_token %}
                    <!-- <div class="card-header text-center bg-dark text-light">
                        <h3>PASSWORD</h3>
                    </div> -->
                    <div class="d-grid text-center">
                        
                        <h1 >RESET YOUR PASSWORD</h1>
                        <p> Remember your password now?<a href="{% url 'register' %}">   login!</a></p>
                        
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="email" class="form-label" d-grid text-start >Email:</label>
                            <input type="email" class="form-control form-control-lg" name="email" id="email"
                                aria-describedby="emailHelp" placeholder="abc@email.com" />
                        </div>
                        <div class="d-grid text-center">
                        
                            <button class="btn btn-dark mb-3">
                                RESET
                            </button>
                            
                        </div>
            

    </div>
</main> {% endblock %}

{% block css %}
<style>
    main{
        display: grid;
        place-items: center;
        height: 100vh;
    }
</style>
{% endblock %}

{% block js %} <script></script> {% endblock %}
